{{!-- <header>
   <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}
    <nav>
        <a href="/">RealFinds</a>
        <ul>
            <li><a href="/profile"></a>My Profile</li>
            <li><a href="/search"></a>Search</li>
            <button class="btn" id="logout">logout</button>
        </ul>
    </nav>
    {{/if}}
</header> --}}