<h1>Welcome to the Real Estate Homepage</h1>

{{#if logged_in}}
<p>Welcome, User!</p>
<a href="/profile">Go to Profile</a>
{{else}}
<p>You are not logged in.</p>
<a href="/login">Login</a>
{{/if}}

{{> searchbar}}

<h2>Featured</h2>
<p>Browse through some of the hottest listings in the GTA.</p>

{{> featured_listings}}

{{!-- <h2>How it Works</h2>

<div class="container mx-auto py-10">
  <h2 class="text-3xl font-semibold mb-6">How it Works</h2>

  <div class="flex justify-between space-x-6">
    <div class="flex-1">
      <img src="./images/real-estate.png" alt="">
      <h3 class="text-xl font-semibold mt-4">1. Sign up</h3>
      <p class="mt-2">Sign up for our platform, it's totally free! Create your account and unlock a world of real estate
        opportunities.</p>
    </div>

    <div class="flex-1">
      <img src="./images/search.png" alt="">
      <h3 class="text-xl font-semibold mt-4">2. View Listings</h3>
      <p class="mt-2">Explore a diverse range of property listings posted by licensed and verified agents. We ensure
        that our listings meet the highest standards to provide you with a reliable and secure browsing experience.</p>
    </div>

    <div class="flex-1">
      <img src="./images/deal.png" alt="">
      <h3 class="text-xl font-semibold mt-4">3. Get in Touch</h3>
      <p class="mt-2">RealFinds simplifies the process of connecting with real estate agents. If you come across a
        listing that captures your interest, easily get in touch with the responsible agent. Their contact information
        is readily available, allowing you to initiate conversations and gather more details about the property.</p>
    </div>
  </div>
</div> --}}


<h3>A Diverse Pool of Real Estate Talent</h3>
<p>Our platform connects local agents within the Greater Toronto Area and neighboring regions. Explore a community of regional real estate professionals promoting listings and assisting clients. Join us to enhance your regional real estate journey./p>

{{> featured_agents}}