{{!-- hero section --}}
<div class="flex min-h-screen flex-col md:flex-row">

  {{!-- Text and Search Section --}}
  <div class="w-full md:w-1/2 md:flex-shrink-0 p-12 bg-gray-900 text-white">
    {{!-- Text and Search Section Content --}}
    <div class="flex flex-col justify-center h-full">
      <h1 class="text-6xl font-bold mb-6">
        Buy, Sell, Connect
      </h1>
      <p class="text-xl mb-12">
        Bringing Real Estate to Your Fingertips
      </p>

      {{!-- search buttons --}}

      <div class="felx">

        <a href="/search"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Start
          Searching</a>
              <a href="/login"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign up</a>

      </div>
              
    </div>
  </div>

  {{!-- Image Section --}}
  <div class="w-full md:w-1/2">
    <img src="/images/blocks-Li4q_z15h18-unsplash.jpg" alt="Real Estate Image" class="object-cover w-full h-full">
  </div>
</div>

{{!-- featured section --}}
<div class="container mx-auto p-6">
  <h2 class="text-3xl font-bold mt-6 mb-3 text-center">Newly added</h2>
  <p class="text-base text-gray-500 text-center">Browse through some of the most recent listings in the GTA.</p>
</div>

<div class="container mx-auto p-10">
  {{> featured_listings}}
</div>

{{!-- Agents section --}}
<div class="container mx-auto p-10">
  <h3 class="text-2xl font-bold mt-6 mb-3 text-center">A Diverse Pool of Real Estate Talent</h3>
  <p class="text-base text-gray-500 text-center">Connect with local agents in the Greater Toronto Area and neighboring
    regions.
    Explore a community of regional real estate professionals. Join us to enhance your regional real estate journey.</p>
</div>

<div class="container mx-auto p-6">
  {{> featured_agents}}
</div>


{{!-- how it works --}}
<div class="container mx-auto p-10">
  <div class="flex flex-wrap md:flex-nowrap">
    {{!-- Text Section --}}
    <div class="w-full md:w-1/2 p-6 flex items-center md:flex-col md:items-start">
      <div class="space-y-10 content-center text-center md:text-left">
        {{!-- Section 1 --}}
        <div>
          <span
            class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">01</span>

          <h2 class="text-3xl font-bold pt-6 text-slate-800">Sign Up Easily</h2>
          <p class="my-2 text-gray-500">Create an account and start exploring real estate opportunities at no cost.</p>
        </div>
        {{!-- Section 2 --}}
        <div>
          <span
            class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">02</span>
          <h2 class="text-3xl font-bold pt-6 text-slate-800">Discover Listings</h2>
          <p class="my-2 text-gray-500">Find verified properties with our trusted and secure platform.</p>
        </div>
        {{!-- Section 3 --}}
        <div>
          <span
            class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">03</span>

          <h2 class="text-3xl font-bold pt-6 text-slate-800">Connect with Agents</h2>
          <p class="my-2 text-gray-500">Reach out directly to agents for properties that interest you.</p>
        </div>
        <a href="/search"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Start
          Searching</a>
      </div>
    </div>
    {{!-- Image Section --}}
    <div class="w-full md:w-1/2 p-6">
      <img src="/images/christin-hume-Hcfwew744z4-unsplash.jpg" alt="Real Estate"
        class="rounded-lg shadow-lg aspect-square">
    </div>
  </div>
</div>