<section id="login-section" class="bg-gray-200 h-screen flex items-center justify-center">

  <div class="bg-white p-8 rounded shadow-md flex">
    <!-- Login Section -->
    <div class="w-1/2 pr-4">
      <h2 class="text-2xl font-semibold mb-4">Login</h2>
      <form class="login-form" action="/api/users/login" method="POST">
        <div class="mb-4">
          <label for="loginEmail" class="block text-gray-600">Email:</label>
          <input type="text" id="loginEmail" name="loginEmail" class="border rounded px-3 py-2 w-full">
        </div>
        <div class="mb-4">
          <label for="loginPassword" class="block text-gray-600">Password:</label>
          <input type="password" id="loginPassword" name="loginPassword" class="border rounded px-3 py-2 w-full">
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
        <div class="flex items-center mb-4">
          <input id="default-checkbox" type="checkbox" value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-600 dark:text-grey-600">I'm an
            Agent</label>
        </div>
      </form>
    </div>

    <!-- Create Account Section -->
    <div class="w-1/2 pl-4">
      <h2 class="text-2xl font-semibold mb-4">Create an Account</h2>
      <form class="signup-form"> <!--action="/api/users" method="post"-->
        <div class="mb-4">
          <label for="createUsername" class="block text-gray-600">Username:</label>
          <input type="text" id="createUsername" name="createUsername" class="border rounded px-3 py-2 w-full">
        </div>
        <div class="mb-4">
          <label for="createEmail" class="block text-gray-600">Email:</label>
          <input type="email" id="createEmail" name="createEmail" class="border rounded px-3 py-2 w-full">
        </div>
        <div class="mb-4">
          <label for="createPassword" class="block text-gray-600">Password:</label>
          <input type="password" id="createPassword" name="createPassword" class="border rounded px-3 py-2 w-full">
        </div>
        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Create Account</button>
        <div class="flex items-center mb-4">
          <input id="default-checkbox" type="checkbox" value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-600 dark:text-grey-600">I'm an
            Agent</label>
        </div>
      </form>
    </div>
  </div>

</section>

<script src="/js/create.js"></script>
<script src="/js/login.js"></script>