{{> searchbar}}
<!-- Display the search results here -->
<h1>Search Results</h1>
<ul>
  {{#each searchResults}}
    <li>{{this.title}}</li> <!-- Adjust this to display the relevant data -->
  {{/each}}
</ul>